/* Container principal */
.bookmarks-list{
    margin: 0;
    padding: 0;
    width: 100%;
}
	.bookmarks-list li:nth-child( odd ) {
		background-color:#f2f2f2;
	}
	
	.bookmarks-list li:nth-child( even ) {
		background-color:#fbfbfb;
	}
/* /Container principal */

/* Un bookmark */
.bookmarks-list li {
	list-style: none outside none;
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid white;
    position:relative;
}

	.bookmarks-list li:first-child {
	  border-top: 1px solid transparent;
	}
	
	.bookmarks-list li:last-child{
	      border-bottom: 1px solid transparent;
	}

		.bookmark-icon {
			color:#F9F9F9;
    		-webkit-transition: color .6s ease-in;
    		-moz-transition: color .6s ease-in;
    		-o-transition: color .6s ease-in;
    		transition: color .6s ease-in;
		}
		
		.bookmark-icon.bookmark-edit:hover {
			color: forestgreen ;
		}
		
		.bookmark-icon.bookmark-delete:hover {
			color: darkred; 
		}
/* /Un bookmark */

/* Un bookmark menu */

.oneBookmark-menu {
	position:absolute;
	padding:3px;
	display: none;
	z-index:200;
}

.bookmarks-list *:hover .oneBookmark-menu{
	display:inline;
}

	.oneBookmark-menu a {
		color: #2E3033;
	}

	.oneBookmark-menu-left {
		left:-30px;
		margin-top:0;
		top:-3px;
		font-size:2em;
	}
	
	.oneBookmark-menu-right {
		right:-36px;
		top:5px;
	}
/* /Un bookmark menu */

/* Liste de tags */
.bookmarks-list .meta {

}
	.bookmarks-list .meta li {
		border: transparent;
		display: inline-block;
		background-color: transparent;
	}
	
	.bookmarks-list .meta li:first-child {
		cursor: help;
	}

/* /Liste de tags */

/* Bookmark simple */
.bookmarks-list.bookmarks-simple a, 
.bookmarks-list.bookmarks-simple h3, 
.bookmarks-list.bookmarks-simple p, 
.bookmarks-list.bookmarks-simple ul {
	display:inline-block;
	margin-bottom:0;
	overflow: none;
}

	.bookmarks-simple h3 {
		font-size: small;
		width:30%;
	}
	
	.bookmarks-simple p{
		width:65%;
	}
	
	.bookmarks-simple ul{
		width:4%;
		text-align: center;
	}
	
	.bookmarks-list.bookmarks-simple ul li {
		display:none;
		
	}
	.bookmarks-list.bookmarks-simple .meta li:first-child {
		display:inline-block;
	}
/* /Bookmark simple */

/* Bookmark draggable helper */

.bookmark-draggable-helper {
	width:30px;
	height:30px;
	text-align:center;
	font-size:1.5em;
	line-height:1.5em;
	background-color: white;
	border:solid 1px grey;
	z-index: 500;
}

/* /Bookmark draggable helper */