/*
 Document   : footer
 Created on : 10 févr. 2012, 16:04:57
 Author     : inwebo
 Description:
 Purpose of the stylesheet follows.
 */

/*
 TODO customize this sample style
 Syntax recommendation http://www.w3.org/TR/REC-CSS2/
 */

/* FOOTER */
/* ---- */

footer {
	
}

footer .grid_12 p {
	font-size: x-small;
	margin: 0;
	padding: 5px;
	text-align: center;
}

footer .grid_12 p .myButton {
	color: black;
	font-size: x-small;
}

.mini-logo {
	color: #008EE8;
	font-family: 'Lobster', cursive;
	font-size: 1.3em;
	margin-top: -10px;
	text-align: center;
	text-shadow: 1px 1px 0 white;
	filter: dropshadow(color=white, offx=1, offy=1);
}