/*
 Document   : header
 Created on : 10 févr. 2012, 19:48:56
 Author     : inwebo
 Description:
 Purpose of the stylesheet follows.
 */

/*
 TODO customize this sample style
 Syntax recommendation http://www.w3.org/TR/REC-CSS2/
 */

/* HEADER */
/* ---- */
header {
	background-color: #2E3033;
	color: #F9F9F9;
	border-bottom: solid 1px white;
	position:fixed;
	z-index: 9999;
	margin-bottom: 55px;
	width:100%;
	-webkit-box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.3);    
	box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.3); 
}

header h1 {
	color: #F9F9F9;
	display: block;
	float: left;
	font-family: 'Lobster', cursive;
	font-size: 1.9em;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 2px 2px 0 rgba(255,255,255,0.1);
	line-height: 45px;
	position: relative;
}

header h1 span {
	-moz-transform: scale(1) rotate(45deg);
	-webkit-transform: scale(1) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);    
	background-color: #2E3033;
	display: block;
	height: 10px;
	left: -5px;
	margin-left: 50%;
	margin-top: 0px;
	position: absolute;
	width: 10px;
}

nav {
	display: inline-block;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
}
	
	nav li {
		display: inline-block;
		margin-right: 20px;
		padding: 0 5px;
		min-width: 50px;
		text-align: center;
		position: relative;
		min-height: 51px;
		top: 0;
		background-color: inherit;
	}
	
		nav li a, nav li a:visited {
			text-decoration: none;
			color: white;
		}
		
		nav li:hover {
		
		}
		
		nav li:last-child {
			margin-right: 0;
		}
		
		nav li:hover a:hover {
			color: #008ee8;
		}

#menu-categories-tab {
	position: relative;
	padding-right: 5px;
}
	
	#menu-categories-tab ul {
		display:none;
		background-color: #2E3033;
		color:white;
		border:1px solid white;
		border-top:0 solid transparent;
		left: -607px;
		margin: 0;
		position: absolute;
		text-indent: 0;
		width: 938px;
		z-index: 99;
		top:50px;
		z-index: 9998;
		-webkit-box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.3);
		box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.3);
	}

	#menu-categories-tab ul li {
		display: inline-block;
		margin: 0;
		text-align: center;
		width: 100px;
		background-color: rgba(0, 0, 0, 0.1);
		margin-bottom: 3px;
	}
	
	#menu-display-categories {
		color:rgba(255,255,255, 0.5);
	}
