/* 
    Document   : login
    Created on : 10 févr. 2012, 16:13:16
    Author     : inwebo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Login */

#loginClick {
	height:1em;
	line-height: 1em;
	margin:0 auto;
	display: block;
	width: 120px;
	text-align:center;

}
#loginClick span {
	display: inline-block;
	margin-right: 0.5em;
}
.login-show-form {
	position:fixed;
	width: 15px;
	height: 15px;
	padding: 3px;
	top:50%;
	margin-top:-9px;
	left:0;
	background-color: #2E3033;
	line-height: 1em;
	border:solid 1px white;
	border-left:solid 0 transparent;
	text-align: center;
	z-index: 1001;
}

	.login-show-form a,.login-show-form a:visited {
		color:white;
	}


#loginFieldset, #categorieContainer {
	font-family: sans-serif Verdana;
	size:1em;
	color:#555555;
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    left: 50%;
    margin-left: -175px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 350px;
	margin-top:-150px;
    z-index: 999999;
    vertical-align:top;
    border: 1px solid #CFCFCF;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    background-color: #F9F9F9;
    font-weight: normal;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
	font-size:medium;
	font-weight: normal;
	display: none;
}

#loginFieldset input {
	padding:10px;
}

#loginFieldset input, #loginFieldset span {
	display: inline-block;
	margin-bottom:1em;
}

#loginFieldset span {
	width:10%;	
}

#loginFieldset input {
	width:80%;	
}

#loginFieldset input[type=submit] {
	width:50%;
	margin:0 auto;
	display:block;
}
