/* 
    Document   : login
    Created on : 10 févr. 2012, 16:13:16
    Author     : inwebo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Login */




#loginContainer {
    background-color: #FAFAFA;
border-color: transparent transparent #939393 transparent;
    border-right: 1px solid #E6E6E6;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    position: absolute;
    right: 0;
    top:-35px;
    z-index: 1;
    height:40px;
    text-align: center;
}

.loginClickExit {
    padding: 10px;
    position: relative;
    top: 100%;
    text-decoration: none;
}
        #loginContainer, .loginClickExit {
            background-color: #2E3033;
            height:40px;
            top: -35px;
            position: relative;
            text-align: center;

        }

        .loginClickExit, #loginContainer p {
            border-bottom: 1px solid #939393;
            border-left: 1px solid #939393;
            border-right: 1px solid #939393;
            padding-top: 0;
            top: 38px;
            padding-bottom: 5px;
        }
        #loginContainer span {
            
}

        
#loginContainer input{

}




        #loginContainer form {
            margin-bottom: 0;
        }

        #loginContainer p {
            background-color: #2E3033;
            color: white;
            font-size: x-small;
            margin: 0 auto;
            padding: 1px;
            position: relative;
            top: 0;
            width: 40px;
        }
#loginContainer p a {
    color: white;
    text-decoration: none;
}
       /* #loginContainer p a {
            color:whitesmoke;
            display: block;
            font-size: small;
            font-variant: small-caps;
            text-align: center;
            text-decoration: none;
            width: inherit;
            position: relative;
            z-index: 9998;
        }*/

           #loginContainer input {
            border: 1px solid #48444D;
            color: #c9c9c9;
            margin-top: 5px;
            padding: 5px;
            margin-left: 10px;
        }

                #loginContainer input[type*=submit] {
                    color:black;
                }

                #loginContainer input:focus {
                    color:#454A4F;
                }



#loginFieldset {
    padding-right: 42px;
}