/*@charset('utf-8');*/

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url("style.css");
@import url("reset.css");
@import url("text.css");
@import url("960.css");
@import url("tags.css");
@import url("footer.css");
@import url("setup.css");
@import url("widget.css");
@import url("gui-infos-bulles.css");
@import url("login.css");
@import url("breadcrumbs.css");
@import url("bookmarks.css");
@import url("header.css");
@import url("categories.css");
@import url("about.css");

/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
.clear {
    clear: both;
}

@font-face {
    font-family: "IconicStroke";
    src: local("IconicStroke"), url("font/iconic_stroke.otf") format("opentype");
}

/* --------- Test ---------*/
.iconic {
    display: inline-block;
    font-family: 'IconicStroke';
}
/* --------- Test ---------*/

body {
	background-color: #E8E8E8;
	color: #555555;
}

a {
	color: #008ee8;
}

hr{
	font-size: 1px;
	line-height: 0;
	overflow: visible;
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	width: 100%;
	clear: both;
	border: none;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #FFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
}

#container {
    height: 100%;
    min-height: 100%;
}

.ribbon {
    border-top: 20px solid Silver;
    border-bottom: 20px solid transparent;
    border-left: 25px solid  Silver;
    border-right: 25px solid Silver;

}

.ribbon {
    display: block;
    height: 0;
    left: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-top: -15px;
    position: absolute;
}

input, textarea{
    //border:solid 1px red;
    background-image: linear-gradient(bottom, rgb(254,254,254) 48%, rgb(250,250,250) 74%, rgb(242,242,242) 87%);
    background-image: -o-linear-gradient(bottom, rgb(254,254,254) 48%, rgb(250,250,250) 74%, rgb(242,242,242) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(254,254,254) 48%, rgb(250,250,250) 74%, rgb(242,242,242) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(254,254,254) 48%, rgb(250,250,250) 74%, rgb(242,242,242) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(254,254,254) 48%, rgb(250,250,250) 74%, rgb(242,242,242) 87%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.48, rgb(254,254,254)),
            color-stop(0.74, rgb(250,250,250)),
            color-stop(0.87, rgb(242,242,242))
    );
    border: 1px solid #CFCFCF;
    box-shadow: 0 0 0 1px #FFFFFF inset;
    padding:2px;
}

input:focus {
    border: 1px solid #B9CEB5;
}

/* -----------------------------------*/
/* ---------->>> My.Grid <<<----------*/
/* -----------------------------------*/

div[class*='container_12'] div[class*='grid_'] {
    padding: 10px;
    margin-bottom:20px;
}

#container div[class*='grid_']{
    border: 1px solid #CFCFCF;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    background-color: #F9F9F9;

}
.container_12 .grid_4 {
    width: 278px;
}

.container_12 .grid_6 {
    width: 438px;
}

.container_12 .grid_8 {
	width:598px;
}

.container_12 .grid_12 {
	width: 918px;     
}

.gridHome {
    max-height: 500px;
    min-height: 500px;
}


#main div[class*='grid_'] h2 {
    border-bottom: thin groove #35383D;
    height: 2em;
}

    #main div[class*='grid_'] h2 .totalLinks {
        border-bottom: 1px solid #E6E6E6;
        border-left: 1px solid #E6E6E6;
        border-right: 1px solid #E6E6E6;
        float: right;
        font-size: x-small;
        margin-top: -1em;
        padding: 2px;
        margin-right: 3px;
    }


    h2 a {
        text-decoration: none;
    }






/* -----------------------------------*/
/* ----------->>> GUI <<<-------------*/
/* -----------------------------------*/

.gui-display-shaddy {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    display: none;
    z-index: 1000;
}

